{% entends 'base.html' %}

{% block content %}

<div class="research">
    <form action="{{url_for('admin.get_articles')}}" method="GET">
        <input type="text" name="research" placeholder="research an article or a categorie">
        <button type="submit">Research</button>
        </select>

    </form>
</div>

{% if articles%}
<!--could use href to submit url to content article page-->
<div class="item-content ">
    {% for article in articles %}
    <a href="{{ url_for('admin.content', content_id=article.id) }}">
        {% if article.medias %}
        <img src="{{ url_for('static', filename='uploads/' ~ article.medias[0].file_path) }}" alt="Média">
        {% endif %}
        <p>{{article.titre}}</p>
        <p>{{article.categorie.nom}}</p>
        <p>{{article.author}}</p><!--tri en fonction des categorie ou du nom de l'auteur-->
    </a>

    {% else %}
        <p>Aucun article disponible.</p>
    {% endfor %}
</div>

{% elif researched_articles %}

<div class="item-content ">
    {% for article in researched_articles %}

    <a href="{{ url_for('admin.content', content_id=article.id) }}">
        {% if article.medias %}
        <img src="{{ url_for('static', filename='uploads/' ~ article.medias[0].file_path) }}" alt="Média">
        {% endif %}
        <p>{{article.titre}}</p>
        <p>{{article.categorie.nom}}</p>
        <p>{{article.author}}</p><!--tri en fonction des categorie ou du nom de l'auteur-->
    </a>

    {% else %}
        <p>Aucun article ne correspond à votre recherche.</p>
    {% endfor %}

</div>
{% else %}
<p>Aucun article a afficher.</p>
{% endif %}


{% endblock %}