{% entends 'base.html' %}

{% block content %}
<!--Formulaire pour creer un article , avec deux section , template , et formulaire simple
-->

<!--Pop up fror templates-->
<form action="" method="POST" enctype="multipart/form-data">

    <label for="title">Titre</label>
    <input type="text" id="title" name="title" placeholder="entrez le titre de l'article">

    <label for="category">Categorie</label>
    <select name="category" id="categorie">
        {% for cat in categories %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    <p>or</p>
    <label for="title">Categorie</label>
    <input type="text" id="category" name="category" placeholder="entrez la categorie souhaiter">

    <label for="texte">Texte</label>
    <textarea name="article_text" id="texte" placeholder="entrez du texte"></textarea>

    <label for="medias">Ajouter des images/vidéos</label>
    <input type="file" name="medias" id="medias" multiple accept="image/*,video/*">

    <label for="brouillon">Brouillon</label>
    <input type="radio" name="status" value="brouillon" id="brouillon">
    <label for="publier">Publié</label>
    <input type="radio" name="status" value="publier" id="publier">

    <button type="submit">Poster </button>

</form>
{% endblock %}