{% block header%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename='index.css')}}">
    <title>CMS login page</title>
</head>

{% endblock %}

{% block content%}

<body>
    <section class="sect1">
        <form action="{{url_for('auth.login')}}" method="POST" class="login-form">
            <h1>LOGIN</h1>
            <div class="form-input">
                <label for="email">Email</label>
                <input type="text" id="email" name="login-email" placeholder="Enter Your Name" required>
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="text" id="password" name="login-password"  placeholder="Enter Your Name" required>
            </div>
            <button type="submit">Send</button>

            <p>No account created? <span><a href="{{url_for('auth.register')}}">Register</a></span></p>// lien vers la fonction qui gere le
            registration
        </form>
    </section>

</body>
</html>
{% endblock %}



