<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS login page</title>
</head>
<body>
    <form action="" method="POST">
        <h1>LOGIN</h1>
        <label for="email">Email</label>
        <input type="text" id="name" placeholder="Enter Your Name">
        <label for="password">Password</label>
        <input type="text" id="name" placeholder="Enter Your Name">

        <button>Login</button>

        <p>No account created? <span><a href="">Register</a></span></p>// lien vers la fonction qui gere le registration
    </form>

</body>
</html>