{% extends 'auth/login.html' %}

{% block content%}
<body>
    <form action="{{url_for('auth.register')}}" method="POST">
        <h1>REGISTER</h1>
        <p>{{error}}</p>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter Your Name" name="regis-name">
        
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter Your Email" name="regis-email">

        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter Your Password" name="regis-password">

        <label for="password">Role</label>
        <select name="regis-role" id="regis-role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>

        <button type submit>register</button>

        <p>Already have an account ? <span><a href="{{url_for('auth.login')}}">login</a></span></p> // lien vers la fonction qui gere le registration
    </form>

</body>
</html>
{% endblock %}
