{% extends 'base.html' %}

{% block content %}
<!--Parcours de la base de donnee pour avoir l'affichage de tout les articles
classer par date qui (possibilite grace au js de les faire scroller tout seul)
pour ca une fonction est defini
les elements doivent etre des carre clickable-->

<div class="research">
    <form action="{{url_for('user.get_research_article')}}" method="GET">
        <input type="text" name="research" placeholder="research an article or a categorie">
        <button type="submit">Research</button>
        </select>

    </form>
</div>

{% if Articles%}
<!--could use href to submit url to content article page-->
<div class="item-content ">
    {% for article in Articles %}
    <a href="{{ url_for('user.content', content_id=article.id) }}">
        {% if article.medias %}
        <img src="{{ url_for('static', filename='uploads/' ~ article.medias[0].file_path) }}" alt="Média">
        {% endif %}
        <p>{{article.titre}}</p>
        <p>{{article.categorie.nom}}</p>
        <p>{{article.author}}</p><!--tri en fonction des categorie ou du nom de l'auteur-->
    </a>
    {% endfor %}
</div>
{% else %}
<p>Aucun article trouvé pour cette recherche.</p>
{% endif %}

{% endblock %}